/* #region Root */
:root {
    --accent-color-1: #3A7BE0;
    --accent-color-2: #67A0F8;
    background-color: black;
    --text-secondary: #aaaaaa;
    color: white;
    font-family: 'IBM Plex Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color-scheme: dark;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5f9de6;
    background-image: url("images/background-boat_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    background-color: #1c1c1c;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 12pt;
    &:hover {
        background-color: #2c2c2c;
    }
    &.cta {
        background-color: green;
    }
    &.ctd {
        background-color: #903434;
    }
    &.ctd:hover {
        &:hover {
            background-color: #bb4545;
        }
    }
}

.text-link {
    color: var(--accent-color-1);

    &:hover {
        color: var(--accent-color-2);
    }
}
.text-secondary {
    color: var(--text-secondary);
}

svg {
    fill: white;
}
/* #endregion Root */

header {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: #00000080;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.context-menu {
    display: inline-flex;
    flex-direction: column;
    background: #00000080;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px 0 black;
    margin: 4px;
    & > .item {
        display: flex;
        padding: 12px 16px;
        cursor: default;
        &:hover {
            background-color: #d9d9d930;
        }
    }
}

#global-menu {
    display: flex;
    align-items: center;
    padding-left: 6px;
    flex-grow: 1;
    & a {
        padding: 4px 12px;
        border-radius: 4px;
    }

    & a:hover {
        background-color: #dcdcdc30;
    }
}

#system-tray {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 16px;
    gap: 16px;
    align-items: center;
    justify-content: center;
    & a {
        display: flex;
    }
}

#global-menu-logo {
    display: flex;
    height: 22px;
}

/* #region Window */
.window {
    position: absolute;
    background: #131313;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 8px 0 black;
}

/* #region Window Titlebar */
.window-titlebar {
    display: flex;
    min-height: 36px;
    height: 36px;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: move;
}

.window-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.window-icon {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-controls {
    display: flex;
    height: 100%;
    cursor: auto;
}

.window-control {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #dcdcdc30;
    }

    & svg {
        width: 16px;
        height: 16px;
    }
}
/* #endregion Window Titlebar */

.window-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.window-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: auto;
}

.window-content_section {
    padding: 16px 24px;
    background: #1c1c1c;
    gap: 16px;
    display: flex;
    flex-direction: column;

    & > .section-title {
        font-style: italic;
        color: #aaa;
    }

    & > .section-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px;

        & .item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            min-width: 300px;

            & .title {
                color: #aaa;
            }
        }
    }
}
/* #endregion Window */

/* #region Catalogue View */
.catalogueview-catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    & .catalogue-item {
        width: 360px;
        height: 202px;
        border-radius: 16px;
        box-shadow: 0 0 4px #000000aa;
        transition: outline 100ms;
        outline: 2px solid #aaaaaa00;
        overflow: hidden;

        &:hover {
            outline: 2px solid #aaaaaa;
            transition: outline 100ms;

            & .catalogue_subtext {
                display: flex;
                transition: opacity 1000ms;
                opacity: 1;
            }
        }
    }

    & .catalogue_subtext {
        opacity: 0;
        display: none;
        height: 36px;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 36px;
        margin-bottom: -36px;
        transition: opacity 1000ms;
        text-align: center;
        background: linear-gradient(to top, #000000ff, #00000000 100%);
        text-shadow: 0 2px #000;
    }
}
/* #endregion Catalogue View */

/* #region Window: About User */
#window-about_user {
    & .header {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        gap: 16px;
    }

    & .header > .userinfo {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
    }

    & .header > .userpic img {
        border-radius: 50%;
        user-select: none;
    }
}
/* #endregion Window: About User */

/* #region Window: Framer: Close All Windows */
#window-close_all_windows {
    .window-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .window-content {
        display: flex;
        flex-direction: row;
        padding: 16px;
    }
}
.popup-icon_area {
    display: flex;
}
.popup-header {
    font-size: 18pt;
    font-weight: 500;
}
.popup-content {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 4px;
}
.popup-text {
    color: #aaa;
}
.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    padding: 16px;
    gap: 8px;

    height: 36px;
}
/* #endregion Window: Framer: Close All Windows */

/* #region Resizer */
.resizer {
    position: absolute;
}

.resizer-left,
.resizer-right {
    top: 0;
    bottom: 0;
    width: 4px;
    cursor: ew-resize;
}

.resizer-top,
.resizer-bottom {
    left: 0;
    right: 0;
    height: 4px;
    cursor: ns-resize;
}

.resizer-top {
    top: 0;
}

.resizer-bottom {
    bottom: 0;
}

.resizer-left {
    left: 0;
}

.resizer-right {
    right: 0;
}

.resizer-top-left,
.resizer-top-right,
.resizer-bottom-left,
.resizer-bottom-right {
    width: 4px;
    height: 4px;
}

.resizer-top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.resizer-top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.resizer-bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.resizer-bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}
/* #endregion Resizer */
